<div class='container-fluid' >
<div class='row' style="margin-top:20px" >
    <div class='col-xs-4'>
	 <label class="control-label">Enter Aadhar Card Number</label>
    </div>
    <div class='col-xs-8'>
	<input type="number" class="form-control" ng-model="aadharNumber" placeholder=''></input>
	</div>
  </div>
  <div class='row'>
    <div class='col-xs-4'>
    </div>
    <div class='col-xs-8'><button ng-click="searchByAadhar()" class="btn btn-info">Search</button>
	</div>
  </div>


<fieldset class='' ng-show="showDetails">
 <legend>Update Information</legend>
  <div class='row'>
    <div class='col-xs-9'><label class="control-label">Aadhar Card Number</label><input type="text" class="form-control" ng-model="kycFormData.aadhar" placeholder='' disabled></input>
    </div>
    <div class='col-xs-3'></div>
  </div>
  <div class='row'>
    <div class='col-xs-9'><label class="control-label">Pan Card Number</label><input type="text" class="form-control" ng-model="kycFormData.pancard" placeholder='' disabled></input>
    </div>
    <div class='col-xs-3'></div>
  </div>
  <div class='row'>
    <div class='col-xs-12'><label class="control-label">First Name</label><input type="text" class="form-control" ng-model="kycFormData.fname" placeholder=''></input>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'><label class="control-label">Last Name</label><input type="text" class="form-control" ng-model="kycFormData.lname" placeholder=''></input>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'><label class="control-label">Email</label><input type="text" class="form-control" ng-model="kycFormData.email" placeholder=''></input>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-9'><label class="control-label">Phone</label><input type="text" class="form-control" ng-model="kycFormData.phone" placeholder=''></input>
    </div>
    <div class='col-xs-3'></div>
  </div>
  <div class='row'>
    <div class='col-xs-9'><label class="control-label">Credit Score</label><input type="text" class="form-control" ng-model="kycFormData.score" placeholder=''></input>
    </div>
    <div class='col-xs-3'></div>
  </div>

  </fieldset>
  <div class='row' ng-show="showDetails">
    <div class='col-xs-3'></div>
    <div class='col-xs-3'><button ng-click="updateKYC()" class="btn btn-info">Update</button></div>
    <div class='col-xs-3'><button ng-click="cancelForm()" class="btn btn-info">Cancel</button></div>
    <div class='col-xs-3'></div>
  </div>
</div>

<div class="loaderImageBG" style="position:fixed;bottom:50%;left:40%;height:64px;width:64px" ng-show="loadingVisible">
		<img class="vmDetailLoaderImg" height="70px" width="70px" src="img/loader.gif">
</div>